.navbar {
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px; 
    }

    h2 {
        margin: 0px 16px;
        color: black;
        font-weight: 400;
    }

    h2:hover {
        color: lightcoral;
    }
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout {
    cursor: pointer;
    &:hover {
        color: lightcoral;
    }
}
